<p>JS Wallet is a password keeper that aims to be:
<ul>
  <li>Secure -- encrypted with AES encryption locally in your browser before being sent to server, so even a server compromise can't leak your data.</li>
  <li>Convenient -- stored in the cloud, you'll still have access no matter what computer you use, without installing any software.</li>
  <li>Flexible -- one of our design goals is the idea of multiple password sets that can be shared among multiple people, because not being able to watch TV due to a missing Netflix password is something that shouldn't happen to anyone.</li>
</ul>

<p>JS Wallet is in development, but I invite you to <%= link_to "sign up now", new_user_path %> and give it a try. <strong>Please do not store any high security passwords in JS Wallet yet.</strong> This software may have bugs or security holes. Under absolutely no circumstances should you store any of the following until you have <%= link_to "reviewed the code", "https://github.com/kevinpet/wallet" %> and convinced yourself it's secure:
  <ul>
    <li>Login credentials for banks, brokerages, PayPal or anything else that allows people to spend your money.</li>
    <li>Tax software, Mint, credit reporting agencies, or anything else that contains information that could be used for identity theft.</li>
    <li>Email login information for any accounts that could be used to reset the password on any of the above.</li>
    <li>Web hosting or DNS provider login that could be used to steal your domain or redirect your email.</li>
</ul>
  
