<h2>What's New?</h2>
<dl>
	<dt>9 July 2012</dt>
	<dd>"Save" functionality fixed.</dd>
<dt>24 Apr 2012</dt>
<dd>New/Settings is no longer in a popup window, which makes it theoretically usable on mobile.</dd>
</dl>
