<html xmlns:ng="http://angularjs.org">
  <head>
    <title>Wallet Details</title>
  </head>
  <body>
    <div ng:controller="DetailsCtrl">
      <form ng:submit="createVault()">
	<label name="name">Name this collection:</label>
	<input id="vaultName" name="name"/><br/>
	<label name="password">Password:</label>
	<input id="password" name="password"/><br/>
	<label name="confirm">Confirm:</label>
	<input id="confirm" name="confirm"/><br/>
	<label name="crypto">Encryption: </label>
	<select name="crypto" ng:options="c for c in cryptos"></select>
	<br/>
	<input type="submit" name="submit"/>
	<button ng:click="cancel()">Cancel</button>
      </form>
    </div>
    <p><strong>About passwords.</strong> Your data is only as secure as your password. Passphrases are the best, as illustrated in this cartoon.</p>
    <a href="http://xkcd.com/936/" target="_blank"><img src="http://imgs.xkcd.com/comics/password_strength.png" height="300"></a>
    <%= javascript_include_tag :application -%>
    <script src="/javascripts/angular.min.js" ng:autobind></script>
    <%= javascript_include_tag :wallet -%>
  </body>
</html>
