@import "colors.css.scss";

body {
    background-color: $trim_bg;
    color: $trim_fg;
}
body a:link, body a:visited {
    color: $trim_a;
}
#container {
    padding: 10px 20px 50px 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $main_bg;
    color: $main_fg;
}
#container a:link, #container a:visited {
    color: $main_a;
}
#header {
  position: relative;
  padding: 0 0 10px 0;
}
h1, h2 {
    font-family: sans-serif;
    font-style: oblique;
    font-weight: heavy;
    color: $primary;
    margin: 0.2em;
}
h1 {
    font-size: 1.4em;
    margin-top: 0.4em;
}
h2 {
    font-size: 0.8em;
}
#masthead a {
    color: $primary;
    text-decoration: none;
}
#corner {
    position: absolute;
    top: 5px;
    right: 10px;
}
.vault {
    padding: 3px;
    background-color: $vault_bg;
    color: $vault_fg;
    position: relative;
}
#vault-selection {
    width: 100%;
    overflow: auto;
    background-color: $main_bg;
}
.vault-button {
    height: 50px;
    width: 100px;
    float: left;
}
.vault-body {
    margin: 2em 0.5em 1em 0.5em;
}
.select-border {
    height: 30px;
    width: 80px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background-color: $vault_bg;
}
.border-selected {
    background-color: $main_bg;
    border: 5px solid $vault_bg;
}
.border-normal {
    background-color: $vault_bg;
    border: 5px solid $main_bg;
}
