<div>
  <button ng:click="addVault()">New...</button>
  <button ng:click="serialize()">Dump JSON</button>
  <button ng:click="saveAll()">Save All</button>
</div>
<pre>
  {{ serial }}
</pre>
<div ng:repeat="vault in vaults">
  <ng:switch on="vault.locked">
    <div ng:switch-when="true" class="vault locked">
      <!-- LOCKED -->
      <h2>{{ vault.resource.name }}</h2>
      <span ng:show="vault.status">{{vault.status}}</span>
      <div class="controls">
	<button ng:click="save(vault)">Save</button>
	<button ng:click="remove(vault)">Delete</button>
      </div>
      <form ng:submit="unlock(password, vault);password='';">
	<input type="password" name="password" size="30" />
	<input type="submit" value="Unlock"/>
      </form>
    </div>
    <div ng:switch-default class="vault unlocked">
      <!-- OPENED -->
      <h2>{{ vault.resource.name }}</h2>
      <span ng:show="vault.status">{{vault.status}}</span>
      <div class="controls">
	<button ng:click="addCard(vault)">Add Card...</button>
	<button ng:click="editDetails(vault)">Settings...</button>
	<button ng:click="lock(vault)">Lock</button>
	<button ng:click="remove(vault)">Delete</button>
      </div>
      <ul>
	<li class="cards" ng:repeat="card in vault.cards">
	  <ng:switch on="card.deleted">
	  <div ng:switch-when="true">
	    <strike>{{ card.name }}</strike>
	    <button ng:click="vault.remove(card)">Purge Deleted</button>
	    <button ng:click="card.deleted = false">Restore</button>
	  </div>
	  <div ng:switch-default>
	    {{ card.name }}
	    <button ng:click="card.toggle()">Show/Hide</button>
	    <button ng:click="card.deleted = true">Delete</button>
	    <div ng:show="card.expanded">
	      <input name="card.name"/><br/>
	      <textarea name="card.details" rows="4" columns="30"></textarea>
	    </div>
	  </div>
	  </ng:switch>
	</li>
      </ul>
    </div>
  </ng:switch>
</div>
