<div id="vault-selection">
  <div ng:repeat="vault in vaults" ng:click="select(vault)" class="vault-button">
    <ng:switch on="vault == selected">
      <div ng:switch-when="true" class="select-border border-selected">
	{{ vault | dirtyTitle}}
      </div>
      <div ng:switch-default class="select-border border-normal">
	{{ vault | dirtyTitle }}
      </div>
    </ng:switch>
  </div>
  <div ng:click="addVault()" class="vault-button">
    <div class="select-border border-normal">
      New...
    </div>
  </div>
  <div class="clear"></div>
</div>
<div ng:show="selected">
  <ng:switch on="selected.locked">
    <div ng:switch-when="true" class="vault locked">
      <span ng:show="selected.status">{{selected.status}}</span>
      <div class="controls">
	<button ng:click="remove(selected)">Delete</button>
      </div>
      <div class="vault-body">
	<form ng:submit="unlock(password, selected);password='';">
	  <input type="password" name="password" size="30" />
	  <input type="submit" value="Unlock"/>
	</form>
      </div>
    </div>
    <div ng:switch-default class="vault unlocked">
      <span ng:show="selected.status">{{selected.status}}</span>
      <div class="controls">
	<button ng:click="lock(selected)">Save and Lock</button>
	<button ng:click="save(selected)">Save</button>
	<button ng:click="editDetails(selected)">Settings...</button>
	<button ng:click="remove(selected)">Delete</button>
      </div>
      <div class="vault-body">
	<ul>
	  <li class="cards" ng:repeat="card in selected.cards">
	    <ng:switch on="card.deleted">
	      <div ng:switch-when="true">
		<strike>{{ card.name }}</strike>
		<button ng:click="selected.remove(card)">Purge Deleted</button>
		<button ng:click="card.deleted = false">Restore</button>
	      </div>
	      <div ng:switch-default>
		{{ card.name }}
		<button ng:click="card.toggle()">Show/Hide</button>
		<button ng:click="card.deleted = true">Delete</button>
		<div ng:show="card.expanded">
		  <input name="card.name"/><br/>
		  <textarea name="card.details" rows="4" columns="30"></textarea>
		</div>
	      </div>
	    </ng:switch>
	  </li>
	</ul>
	<button ng:click="addCard(selected)">New Entry...</button>
      </div>
    </div>
  </ng:switch>
</div>
